<div class="Register">
    {{title}}

    <form name="registerForm">
        <div ng-show="hasError" class="ErrorMessageDiv">{{ErrorMessage}}</div>

        <label for="email">Email</label>
        <input type="text" name="email" ng-model="user.Email" required />

        <label for="password">Password</label>
        <input type="password" name="password" ng-model="user.Password" required />

        <label for="repassword">Retype password</label>
        <input type="password" name="repassword" ng-model="user.RePassword" required />

        <button ng-click="update(user)">
            Save
        </button>
    </form>
</div>