<div ng-controller="TopMenuCtrl">
    <h2>Super Planner</h2>
    <div ng-show="isLoggedIn()">
        <ul class="nav nav-pills">
            <li ng-repeat="item in SiteMap.Links.items" ng-class="isActive(item)">
                <a ng-href="{{item.link}}">{{item.title}}</a>
            </li>
            <li>
                <a href="" ng-click="RedirectToUser()">My Projects</a>
            </li>
            <li>
                <a ng-href="#/Logout">Logout</a>
            </li>
        </ul>
    </div>
</div>
